@import "tailwindcss";
:root {
--bgColor:#090c0f;
--bgSecondary:rgb(12, 18, 33);
--textPrimary: #ffffff;
--textSecondary: #fafafa;
--colorAccent: #0ed395;
--colorHover: rgb(13, 229, 161);
}
html, body {
  height: 100%;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  color: var(--textPrimary);
}
main{
  width: 100%;
  padding-inline: 24px;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--bgColor);
  min-height: 100vh;
  
}

.heroRight::after {
  content: "";
  position: absolute;
  inset: 0;
  
  background: linear-gradient(to right,
    rgba(3, 5, 10, 0.3) 12%,
    rgba(2, 4, 8, 0.15)50%
  );
  z-index: 6;
}
.heroLeft::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to left,
    rgba(3, 5, 10, 0.3) 12%,
    rgba(2, 4, 8, 0.15)50%
  );
  z-index: 5;
}

.moveCard:hover{
  background-color: gray;
}